Repository alphagov/govuk-prototype-kit, pull requests merged in 2021-10, with the labels that each got.

#1101 Link Prototype Kit repo README to security policy
  README.md
Labels: documentation, 🕔 hours

#1106 Add release notes for GOV.UK Prototype Kit v 9.15.0
  CHANGELOG.md
Labels: documentation, 2i

#1107 Update link text in use-components tutorial
  docs/documentation/make-first-prototype/use-components.md
Labels: documentation, 🕔 hours

#1088 Replace 'check your answers' with 'check answers'
  docs/documentation/make-first-prototype/create-pages.md
  docs/documentation/make-first-prototype/let-user-change-answers.md
  docs/documentation/make-first-prototype/link-pages-together.md
  docs/documentation/make-first-prototype/show-users-answers.md
  docs/documentation/make-first-prototype/start.md
  docs/documentation/make-first-prototype/use-components-2.md
  docs/documentation_routes.js
  docs/views/templates/check-answers.html
  docs/views/tutorials-and-examples.html
Labels: documentation, 🕔 weeks
