Repository alphagov/govuk-prototype-kit, pull requests merged in 2022-02, with the labels that each got.

#1234 Update CHANGELOG for v12.0.1 release
  CHANGELOG.md
Labels: release

#1245 Tell users to get latest version of kit
  docs/documentation/updating-the-kit.md
Labels: documentation

#1240 Update accessibility statement
  docs/documentation/accessibility.md
Labels: accessibility

#1243 Add step about updating changelog to release doc
  internal_docs/releasing.md
Labels: documentation, 🕔 hours

#1247 Add kit download link to dev install guide
  docs/documentation/install/developer-install-instructions.md
Labels: documentation, 🕔 hours, small story
